.sidebar{
    height: 100%; 
    position: fixed; 
    width: 15%;
    top: 0; 
    left: 0; 
    padding-top: 40px; 
    padding-left: 20px;
    padding-right: 20px;
    background-color:  rgb(209, 209, 209);
}

body{
    background-color: rgb(230, 230, 230);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.content{
    margin-left: 250px;
    margin-top: 10px;
    margin-right: 210px;
   
    padding: 10px;
}

blockquote{
    background-color: rrgb(235, 235, 235);
    font-size: 1.1em;
}

.sidebar a {
    display: flex;
    margin-top: 15px;
    font-size: medium;
    text-decoration: none;
}

p {
 font-size: 1.2em;
}