
p, h1, h4 {
    margin-top: 0;
    margin-bottom: 0;

}

body {
    margin: 0px;
    font-size: large;
}

main{
    /* background-color: brown; */
}
ul
{
    list-style: none; 
}
.content{
    width: 70%;
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;

}

img{
    margin: 2px;
    border-radius: 5px;
    width: 400px;
    height: 400px;
}

.about{
    display: flex;
    padding: 2px;
    /* background-color: cornflowerblue;  */
    gap: 1em;
    border-radius: 10px;
    border: 2px solid black;
    
}
.about__subtitle{
    display: flex;
    /* background-color: blue; */
    flex-direction: column;
    justify-content: space-between;
}

.subtitle__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 1em;
    
    
}


.about_links_ul{
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

@media (max-width:1164px){
    .about__subtitle{
       
       font-size: medium;
    }
    .qoute{
       
    }
    .about{
        gap: 5px;
    }
}
@media (max-width: 928px) {
    .content{
        width: 80%;
    }
    .about 
    {   
       flex-direction: column;
       justify-content: center;
       text-align: center;
        
    }
    
    .about__profile{
        margin: auto;
        width: auto;
        height: auto;
        border-radius: 50%;
    }

    .about__subtitle{
        margin-left: 20%;
        margin-right: 20%;
        
    }
    
    
    
}

.navbar_ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 10px;
    margin: 0px;
}

a{
    text-decoration: none;
}